[submodule "tests/sourcecode-sbt-1.2.3"]
	path = tests/sourcecode-sbt-1.2.3
	url = https://github.com/lihaoyi/sourcecode.git
[submodule "tests/sourcecode-sbt-0.13.7"]
	path = tests/sourcecode-sbt-0.13.17
	url = https://github.com/lihaoyi/sourcecode.git
[submodule "tests/case-app-sbt-1.2.0"]
	path = tests/case-app-sbt-1.2.0
	url = https://github.com/alexarchambault/case-app.git
[submodule "tests/case-app-sbt-1.2.1"]
	path = tests/case-app-sbt-1.2.1
	url = https://github.com/alexarchambault/case-app.git
[submodule "tests/case-app-sbt-1.2.2"]
	path = tests/case-app-sbt-1.2.2
	url = https://github.com/alexarchambault/case-app.git
[submodule "tests/case-app-sbt-1.2.3"]
	path = tests/case-app-sbt-1.2.3
	url = https://github.com/alexarchambault/case-app.git
[submodule "tests/case-app-sbt-1.2.4"]
	path = tests/case-app-sbt-1.2.4
	url = https://github.com/alexarchambault/case-app.git
[submodule "tests/case-app-sbt-1.2.5"]
	path = tests/case-app-sbt-1.2.5
	url = https://github.com/alexarchambault/case-app.git
[submodule "tests/case-app-sbt-1.2.6"]
	path = tests/case-app-sbt-1.2.6
	url = https://github.com/alexarchambault/case-app.git
[submodule "tests/case-app-sbt-1.2.7"]
	path = tests/case-app-sbt-1.2.7
	url = https://github.com/alexarchambault/case-app.git
[submodule "tests/case-app-sbt-1.0.4"]
	path = tests/case-app-sbt-1.0.4
	url = https://github.com/alexarchambault/case-app.git
[submodule "tests/case-app-sbt-1.0.2"]
	path = tests/case-app-sbt-1.0.2
	url = https://github.com/alexarchambault/case-app.git
[submodule "tests/case-app-sbt-1.0.3"]
	path = tests/case-app-sbt-1.0.3
	url = https://github.com/alexarchambault/case-app.git
[submodule "tests/case-app-sbt-1.0.0"]
	path = tests/case-app-sbt-1.0.0
	url = https://github.com/alexarchambault/case-app.git
[submodule "tests/case-app-sbt-1.0.1"]
	path = tests/case-app-sbt-1.0.1
	url = https://github.com/alexarchambault/case-app.git
[submodule "scripts/upload-launcher"]
	path = scripts/upload-launcher
	url = https://github.com/coursier/upload-launcher-scripts.git
